body {
    background: tan;
}

h1 {
    text-align: center;
}

.introduction, img {
    display: inline-block;
}

/*ul {
    position: relative;
    top: 0px;
    vertical-align: top;
}*/

img {
    height: 225px;
    width: 225px;
    position: relative;
    vertical-align: bottom;
}

footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
